.header {
    background-color: #008;
    color: #fff;
    padding: 20px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header a {
    /* border: 1px solid #0cc; */
    text-decoration: none;
    color: inherit;
    margin: 20px;
}

.header a.active {
    color: #09b;
    border-bottom: 2px solid #09c;
}